{% load static %}



<br>

<div class="container" style="color: white !important;">

   <h4 style="font-weight:700 !important; font-family:'Montserrat', arial, sans-serif; padding:12px !important;text-align: center !important; ">Travencia</h4>


   <p  style="font-weight:600 !important;font-family: 'Montserrat', arial, sans-serif;padding:12px !important;text-align: center !important; color: rgb(169, 169, 169);">  Address: 1065 SW 8th St #1189 Miami FL 33130
  <br>
       <a style="font-size: 16px !important;  padding-top:12px !important; text-align: center !important;    color: rgb(0, 142, 156);" href="tel:8004620650"> <span style="text-align: center !important;">Tel: (800) 462-0650</span> </a>
</p>





<div class="row">
    
    <div class="col-md-6" style="text-align: center !important;     color: rgb(169, 169, 169); margin-top:30px !important;    font-size: 14px; font-weight:600 !important;    font-family: 'Montserrat', arial, sans-serif;">
        Copyright © 2021  Travencia, LLC, <br>  All Rights Reserved.

    </div>
    <div class="col-md-1">

    </div>

    <div class="col-md-4" style="text-align: center !important;    color: rgb(169, 169, 169); margin-top:30px !important;    font-size:14px;font-weight:600 !important;       font-family: 'Montserrat', arial, sans-serif;">
        Powered by  Travencia, LLC

    </div>

  
</div>

</div>
<br>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
